[submodule "glfm"]
	path = Examples/Android-GLFM/glfm-example/glfm
	url = https://github.com/brackeen/glfm

[submodule "android-openssl"]
	path = Examples/Android-Qt-OpenSSL/android-openssl
	url = https://github.com/orangefour/android-openssl

[submodule "SDL2"]
	path = Examples/Android-SDL2/app/jni/SDL
	url = https://github.com/libsdl-org/SDL
